.ActionButton {
    padding: 12px;
    background-color: #F2F2F7;
    color: white;
    font-weight: 600;
    font-size: .8rem;
    width: 110px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
} 

.ActionButton.change {
    background-color: #13c584;
    transition: background-color 0.4s ease;
  }
.ActionButton.delete {
    background-color: #f65b50;
    transition: background-color 0.4s ease;
  }
.ActionButton.change:hover {
    background-color: #3e8e41;
  }
.ActionButton.delete:hover {
    background-color: #f8291a;
  }