.ActionButton {
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
    border: 2px solid #ccc;
    background-color: #F2F2F7;
    color: white;
    font-weight: 600;
    width: 100px;
    cursor: pointer;
}