<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/static/404/css/404.css" />
    <title>Error 404</title>
  </head>
  <body>
    <div id="glitch">404</div>
    <div id="home"><a href="/">Volver a la página principal</div></a>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-path-polygon@2/tsparticles.path.polygon.min.js"></script>
    <script type="module" src="/static/404/js/404.js"></script>
  </body>
</html>
