.AtroposCarnet {
    width: 600px;
    height: 400px;
}
.CarnetStreamerBox {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: -1;
    border-radius: 12px;
}
.CarnetStreamerBox .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.CarnetStreamerBox button {
    position: absolute;
    padding: 10px;
    background-color: rgb(31, 115, 225);
    color: white;
    border: 2px solid rgb(200, 205, 212);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 400;
    font-size: 1.3rem;
    max-width: 80%;
}
.CarnetStreamerBox button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
}
.CarnetStreamerBox img {
    position: relative;
    padding: 5px;
    width: 100px;
}
#CardPageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#backgroundContainer {
    top: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 12px;
}
#CarnetMenu {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
#CarnetMenu ul {
    list-style: none;
    display: grid;
    grid-auto-columns: 100px 100px;
    grid-auto-flow: column;
    gap: 20px;
}
#CarnetMenu li {
    border: 1px solid black;
    text-align: center;
}
#CarnetMenu li a {
    padding: 5px;
    display: block;
    width: 100%;
    transition: 0.3s;
}
#CarnetMenu li a.active {
    background-color: rgb(31, 115, 225);
    color: white;
}
.confetti {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}
@media screen and (max-width: 650px) {
    .AtroposCarnet {
        width: 350px;
        height: 233px;
    }
}